{:paths   ["src/clj"
           "resources"]

 :deps    {org.clojure/clojure             {:mvn/version "1.12.0"}

           ;; Routing
           metosin/reitit                  {:mvn/version "0.9.1"
                                            :exclusions [metonsin/malli]}

           ;; Ring
           metosin/ring-http-response      {:mvn/version "0.9.3"}
           ring/ring-core                  {:mvn/version "1.14.2"}
           ring/ring-defaults              {:mvn/version "0.6.0"}


           ;; Logging
           ch.qos.logback/logback-classic  {:mvn/version "1.5.16"}
           net.logstash.logback/logstash-logback-encoder {:mvn/version "7.4"}
           ring-logger/ring-logger {:mvn/version "1.1.1"}

           ;; Data coercion
           luminus-transit/luminus-transit {:mvn/version "0.1.6"
                                            :exclusions [com.cognitect/transit-clj]}
           metosin/muuntaja                {:mvn/version "0.6.8"}
           metosin/muuntaja-form           {:mvn/version "0.6.8"}

           org.apache.commons/commons-math3 {:mvn/version "3.6.1"}

           ;; Image codec transcoding.
           io.sf.carte/echosvg-all {:mvn/version "2.2"}

           ;; UUID
           danlentz/clj-uuid {:mvn/version "0.2.0"}

           lambdaisland/uri {:mvn/version "1.19.155"}

           ;; DB.
           com.xtdb/xtdb-core               {:mvn/version "2.0.0"}
           com.xtdb/xtdb-api                {:mvn/version "2.0.0"}
           com.github.seancorfield/honeysql {:mvn/version "2.7.1340"}

           ;; Auth, signing, hashing, security.
           buddy/buddy-core {:mvn/version "1.12.0-430"}
           buddy/buddy-sign {:mvn/version "3.6.1-359"}
           buddy/buddy-hashers {:mvn/version "2.0.167"}
           org.clj-commons/digest {:mvn/version "1.4.100"}

           clojure.java-time/clojure.java-time {:mvn/version "1.4.3"}

           ;com.fluree/json-ld {:mvn/version "1.0.1"} ; This causes XTDB to fail to work for some reason?

           metosin/malli {:mvn/version "0.19.1"}

           ;; kit Libs
           io.github.kit-clj/kit-core {:mvn/version "1.0.9"}
           io.github.kit-clj/kit-undertow {:mvn/version "1.0.8"}
           io.github.kit-clj/kit-hato {:mvn/version "1.0.4"}
           io.github.kit-clj/kit-quartz {:mvn/version "1.0.4"}
           io.github.kit-clj/kit-redis {:mvn/version "1.0.6"}
           io.github.kit-clj/kit-metrics {:mvn/version "1.0.3"}}
 :mvn/repos
 {"css4j" {:url "https://css4j.github.io/maven/"}}
 :aliases {:build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}}
                   :ns-default build}


           :dev  {:extra-deps  {com.lambdaisland/classpath      {:mvn/version "0.5.48"}
                                criterium/criterium             {:mvn/version "0.4.6"}
                                expound/expound                 {:mvn/version "0.9.0"}
                                integrant/repl                  {:mvn/version "0.3.3"}
                                mvxcvi/cljstyle                 {:mvn/version "0.16.630"}
                                pjstadig/humane-test-output     {:mvn/version "0.11.0"}
                                ring/ring-devel                 {:mvn/version "1.14.2"}
                                ring/ring-mock                  {:mvn/version "0.4.0"}
                                io.github.kit-clj/kit-generator {:mvn/version "0.2.5"}
                                org.clojure/tools.namespace     {:mvn/version "1.4.4"}
                                }
                  :extra-paths ["env/dev/clj" "env/dev/resources" "test/clj" "target/classes"]
                  ;; Auto-compile the specific gen-class ns when you start with -M:dev
                                    :jvm-opts   ["--add-opens=java.base/java.nio=ALL-UNNAMED" "-Dclojure.compile.path=target/classes"]}
           :nrepl {:extra-deps {nrepl/nrepl {:mvn/version "1.1.0"}}
                   :main-opts  ["-m" "nrepl.cmdline" "-i"]
                   :jvm-opts   ["--add-opens=java.base/java.nio=org.apache.arrow.memory.core,ALL-UNNAMED"]}
           :cider {:extra-deps {nrepl/nrepl       {:mvn/version "1.1.0"}
                                cider/cider-nrepl {:mvn/version "0.45.0"}}
                   :main-opts  ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]" "-i"]
                   :jvm-opts   ["--add-opens=java.base/java.nio=ALL-UNNAMED"]}

           :test {:extra-deps  {criterium/criterium                  {:mvn/version "0.4.6"}
                                expound/expound                      {:mvn/version "0.9.0"}
                                integrant/repl                       {:mvn/version "0.3.3"}
                                io.github.cognitect-labs/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                                      :git/tag "v0.5.1"
                                                                      :git/sha "dfb30dd"}
                                pjstadig/humane-test-output          {:mvn/version "0.11.0"}
                                ring/ring-devel                      {:mvn/version "1.11.0"}
                                ring/ring-mock                       {:mvn/version "0.4.0"}
                                io.github.kit-clj/kit-generator      {:mvn/version "0.2.5"}
                                org.clojure/tools.namespace          {:mvn/version "1.4.5"}
                                peridot/peridot                      {:mvn/version "0.5.4"}
                                org.clj-commons/byte-streams         {:mvn/version "0.3.4"}
                                com.lambdaisland/classpath           {:mvn/version "0.5.48"}}
                  :exec-fn      cognitect.test-runner.api/test
                  :extra-paths ["env/dev/clj" "env/dev/resources" "env/test/resources" "test/clj"]
                  :main-opts   ["-e" "(require 'pjstadig.humane-test-output) (pjstadig.humane-test-output/activate!)"
                                "-m" "cognitect.test-runner"]
                  :jvm-opts   ["--add-opens=java.base/java.nio=org.apache.arrow.memory.core,ALL-UNNAMED"]}}}
